.map-page {
  /* margin-top: 5vh; */
  background-color: #f8f7fa;
}

/* Leaflet map classes */
.leaflet-container {
  width: 100%;
  height: 100%;
  z-index: 0;
}

.sticky {
  position: -webkit-sticky;
  position: sticky;
  height: 90vh;
  width: 100%;
  top: 10vh;
}

/* Header classes */
.header-parent {
  overflow-x: auto;
  scrollbar-width: thin;
}

.header-parent::-webkit-scrollbar {
  height: 3px;
  background: auto;
}
.header-parent::-webkit-scrollbar-thumb:horizontal {
  background: lightgrey;
  border-radius: 10px;
}

.header-parent .header-main {
  background-color: white;
  position: sticky;
  top: 0px;
  height: 5vh;
  min-width: 1000px;
  display: flex;
  box-shadow: 0 2px 2px -2px rgba(0, 0, 0, 0.2);
  border-bottom: 1px solid #d8dbdd;
  z-index: 1;
}

.header-parent .header-burger {
  display: none;
  position: absolute;
  top: 5vh;
  right: 0;
  border-radius: 0 0 8px 8px;
  background-color: white;
  min-width: 240px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.header-parent .header-burger button {
  display: block;
  text-align: left;
}

/* Popup classes */
.marker-popup {
  width: 250px;
}
.marker-popup p {
  font-size: 14px;
}

/* Route times classes */
.routes {
  width: 100%;
  height: 5vh;
  display: flex;
  align-items: center;
}

/* Tooltip classes */
.tooltip {
  position: relative;
  display: inline-block;
  /* border-bottom: 1px dotted black; */
}

.tooltip .tooltiptext {
  visibility: hidden;
  width: 120px;
  background-color: #555;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;
  position: absolute;
  z-index: 1;
  bottom: 125%;
  left: 50%;
  margin-left: -60px;
  opacity: 0;
  transition: opacity 0.3s;
}

.tooltip .tooltiptext::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: #555 transparent transparent transparent;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
  opacity: 1;
}

/* List classes */
.box.map {
  max-height: 90vh; 
  overflow-y: scroll;
}

.box.no-map {
  min-height: 90vh; 
  -webkit-box-shadow: none;
	-moz-box-shadow: none;
  box-shadow: none;
}
/* WHY DOESN'T THIS WORK PROPERLY?? STYLE CHANGES WHEN IT'S NOT INLINE CSS */
.list-item {
  background-color: #f8f7fa; 
  display: inline-block; 
  /* width: 800px;  */
  min-width: 100%;
}

/* Route classes */
.route {
  width: 10vw;
  text-align: right;
  /* border-bottom: 1px solid #000;  */
  line-height: 0.1em;
  margin: 10px 0;
}

.route span {
  background: #fff;
  padding: 0 10px;
}

/* Delivery view classes */
table.is-view th.is-today, 
table.is-view td.is-today, 
table.is-view td.is-today-end {
  border: 1px double deepskyblue;
  background-color: lightcyan;
}

table.is-view th.is-today {
  border-bottom: 1px double lightgrey;
}

table.is-view td.is-today {
  border-top: 1px double lightgrey;
  border-bottom: 1px double lightgrey;
}

table.is-view td.is-today-end {
  border-top: 1px double lightgrey;
}

/* Level classes */
.level .level-left.is-split,
.level .level-right.is-split {
  width: 50%;
  display: inline-block;
}

.level .level-left.is-split {
  border-right: 1px solid lightgrey;
}

.level .level-right.is-split {
  margin: auto;
}

/* Button classes */
.button.is-super-small {
  max-height: 21px; 
  font-size: 0.7rem;
  padding-left: 0.85em !important;
  padding-right: 0.85em !important;
}

.button.is-square {
  border-radius: 0;
  transform: skew(-10deg);
}

.button.is-fullheight {
  height: 100%;
}

.button.is-lightgrey {
  background-color: #ededed;
}

/* Loading screen classes */
.loading-screen {
  margin: calc(50vh - 8vw) auto;
  border: 0.8vw solid darkgrey;
  border-radius: 50%;
  border-top: 0.8vw solid #dbdbdb;
  width: 8vw;
  height: 8vw;
  -webkit-animation: spin 2s linear infinite; /* Safari */
  animation: spin 2s linear infinite;
}

/* Safari */
@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}